.App {
  font-family: 'bahnschrift';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg{
  background-color: #095DB7;
  padding:3%;
  margin-top: -1.7%;
  border-radius: 10px;
}

.logo_nav{
  display: block;
  max-width: 120px; 
  max-height: 128px;
  padding: 0%;
}

.pfp{
  font-size: 0; /* Puede no ser necesario si solo se aplica a imágenes */
  display: block;
  border-radius: 50%;
  height: auto;
  margin: 0; /* Asegura que no haya márgenes */
  padding: 0;
}

.UsCard{
  margin: 5%;
}

.UCard{
  background-color: #3A95B5;
}

.Cardpfp{
  float: right;
  border-radius: 50%;
}
/*
.IntButton{
  --bs-btn-color: #3A95B5; 
  --bs-btn-bg: #095DB7; 
  --bs-btn-border-color: #095DB7; 
  --bs-btn-hover-color: #3A95B5; 
  --bs-btn-hover-bg: #095DB7; 
  --bs-btn-hover-border-color: #095DB7; 
  --bs-btn-focus-shadow-rgb: 49, 132, 253; 
  --bs-btn-active-color: #3A95B5; 
  --bs-btn-active-bg: #095DB7; 
  --bs-btn-active-border-color: #095DB7;
}

.btn-primary {
  --bs-btn-color: #3A95B5;
  --bs-btn-bg: #095DB7;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #3A95B5;
  --bs-btn-hover-bg: #095DB7;
  --bs-btn-hover-border-color: #095DB7;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #3A95B5;
  --bs-btn-active-bg: #095DB7;
  --bs-btn-active-border-color: #095DB7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #3A95B5;
  --bs-btn-disabled-bg: #095DB7;
  --bs-btn-disabled-border-color: #095DB7;
}*/

.search{
  padding: 5%;
}

.rec{
  font-size: 24px;
  padding-left: 4%;
  font-weight: normal;
}

.paddedBott{
  padding-bottom: 30px;
}

.fill{
  padding: 60px;
}

.ProfilePfp
{
  display: block;
  border-radius: 50%;
  max-width: 150%; 
  max-height: auto;
  margin: auto;
  margin-top: 3.8%;
}

.ProfileTop
{
  text-align: center;
  align-items: center;
}

/* Resize images */
.ProfileTop img {
  width: 45%;
  height: auto;
}

.Profile_DataContainer
{
  font-size: larger;
  padding-top: 3%;
  padding-left: 2%;
}

.Profile_PaddedTop
{
  padding-top: 1%;
}

.Profile_UsernameText
{
  padding-top: 2%;
  font-size: xx-large;
}

.Profile_Chevron
{
  font-size: 50px; /*Tamaño del ícono*/
  color: #000; /*Color del ícono*/
  position: absolute;
  top: 15%;
  left: -8px;
  z-index: 10;
}

.EditInfo
{
  font-size: x-large;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 5%;
}

.Silly
{
  height: auto;
  border-radius: .75%;
}

.Home_Greet
{
  padding-left: 2%;
  padding-top: 4%;
  font-size: xx-large;
}

/*Func12 Start*/
.homepage-landing {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 19px 8px;
  box-sizing: border-box;
}

.homepage-landing .bienvenido-hungry-dued {
  margin: 1.7% 0 5.5% 0;
  display: inline-block;
  align-self: flex-start;
  word-break: break-word;
  font-weight: normal;
  font-size: xx-large;
  letter-spacing: 0.3px;
  line-height: 0.625;
  color: #000000;
}

.homepage-landing .buscar-profesores,
.homepage-landing .ver-clases-prximas {
  word-break: break-word;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 1.25;
  color: #000000;
}

.homepage-landing .saldo-actual {
  margin: 0 0 6% 0;
  display: inline-block;
  align-self: flex-start;
  word-break: break-word;
  font-weight: normal;
  font-size: xx-large;
  letter-spacing: 0.3px;
  line-height:  0.625;
  color: #000000;
}

.homepage-landing .chats-recientes {
  margin: 0 0 35px 0;
  display: inline-block;
  align-self: flex-start;
  word-break: break-word;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.3px;
  line-height: 0.625;
  color: #000000;
}

.homepage-landing .compras-recientes {
  margin: 0 0 28px 0;
  display: inline-block;
  align-self: flex-start;
  word-break: break-word;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.3px;
  line-height: 0.625;
  color: #000000;
}

.homepage-landing .intercoins {
  word-break: break-word;
  font-weight: normal;
  font-size: x-large;
  letter-spacing: 0.3px;
  line-height: 0.625;
  color: #000000;
}

.intercoins {
  font-weight: normal;
  text-align: center;
  font-size: x-large;
  margin-bottom: 6%;
}

.homepage-landing .insertar-cards {
  margin: 0 0 47Cpx 11px;
  display: inline-block;
  align-self: center;
  word-break: break-word;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 0.833;
  color: #000000;
}

.homepage-landing .clase-64-intercoins {
  align-self: flex-start;
  word-break: break-word;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 0.833;
  color: #000000;
}

.homepage-landing .clase-64-intercoins-1 {
  margin: 0 0 17px 0;
  display: inline-block;
  align-self: flex-start;
  word-break: break-word;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.3px;
  line-height: 0.833;
  color: #000000;
}

.homepage-landing .group-1 {
  border-radius: 17px;
  background-color: #3A95B5;
  position: relative;
  margin: 0 0 28px 11px;
  display: flex;
  flex-direction: column;
  padding: 18px 0 21px 12px;
  width: calc(100% - 11px);
  box-sizing: border-box;
}

.homepage-landing .container {
  border-radius: 20px;
  background-color: #095DB7;
  position: relative;
  margin: 0 10px 0 21px;
  padding: 18px 2px 17px 0;
  width: calc(100% - 31px);
  box-sizing: border-box;
  text-align: center;
}

.homepage-landing .container-1 {
  border-radius: 20px;
  background-color: #FBBC05;
  position: relative;
  margin: 0 9px 10px 22px;
  padding: 18px 2px 17px 0;
  width: calc(100% - 31px);
  box-sizing: border-box;
  text-align: center;
}

/*Func12 End*/

.class_Mapped{
  font-size: larger;
}

.Home_ButtonAllign{
  text-align: center;
}

.ColorInc{
  color: #095DB7;
}